# Ignore directory 'raw_data'
raw_data/

# Ignore the Python virtual environment directory
.venv/

# Ignore specific configuration files
package.json

package-lock.json

# Ignore node modules directory
node_modules/

training_data.pkl

training_label.pkl

validation_data.pkl

validation_label.pkl

train_x.npy

train_y.npy

val_x.npy

val_y.npy